NODE_ENV=development
PORT=4000

# PostgreSQL (used by Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mini_zapier?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Telegram (опционально для telegram-steps)
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_DEFAULT_CHAT_ID=your_default_chat_id_here


