NODE_ENV=development
PORT=4000

# PostgreSQL (used by Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mini_zapier?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

